<div class="card-container">
  <div class="card">  
    <div>
      <img class="card-img" [src]="product.image" alt="Imagem do produto" />
      <h5 class="card-title">{{ product.price | currency:'BRL' }}</h5>
      <p class="card-text">{{ product.name | reducedName: 70}}</p>      
    </div>        
    <button type="button" class="add-cart-button" mat-raised-button>
      <div class="buy-product">
        <mat-icon>add_shopping_cart</mat-icon>
        <label style="padding-left: 5px; margin-top: 7px;">Adicionar ao carrinho</label>
      </div>
      <!-- <button type="button" class="btn btn-primary">Editar</button>
                  <button type="button" class="btn btn-danger">Excluir</button> -->
    </button>
  </div>
</div>
