.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 400px;
  padding: 15px;
}

img {
  width: 200px;
}

.price {
  display: flex;
}
