<div class="container-finished">
  <div class="compra-final">
          <div class="titulo">
          <h1>Compra realizada com sucesso</h1>
          </div>

          <div class="img-compras">

          <img src="../../../../assets/img/compra-final.png" alt="">
      </div>

      <div class="text">
          <h2>Obrigada por comprar conosco!</h2>
      </div>
  </div>

<button style="width: 250px; margin-top: 50px;" type="button" class="btn btn-primary" (click)="keepShopping()">Ver mais produtos</button>

</div>
