<div class="product-details-container">
  <div class="product-name-box">
    <span>{{ product.name }}</span>
  </div>
  <div class="num-box">
    <div class="product-quantity-box">
      <p>Estoque: </p>
      <span>{{ product.quantity }}</span>
    </div>
    <div class="product-sales-box">
      <p>Vendidos:</p>
      <span>{{ product.sales }}</span>
    </div>
  </div>
  <div class="product-image-box">
    <img
      class="product-image"
      src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_client_products/notebooks/inspiron_notebooks/inspiron_3501/pdp/notebook_laptop_inspiron_bullseye_bk_intel_pdp_gallery.jpg?fmt=jpg&wid=570&hei=400"
      alt=""
    />
  </div>
  <div class="product-description-box">
    <span>{{ product.description }}</span>
  </div>
  <div class="product-price-box">
    <span>{{ product.price }}</span>
  </div>
  <div class="buttons-box">
    <button class="btn-editar">Editar</button>
    <button class="btn-excluir">Excluir</button>
  </div>  
</div>

<div class="product-details-container">
  <div class="product-name-box">
    <span>{{ product.name }}</span>
  </div>
  <div class="num-box">
    <div class="product-quantity-box">
      <p>Estoque: </p>
      <span>{{ product.quantity }}</span>
    </div>
    <div class="product-sales-box">
      <p>Vendidos:</p>
      <span>{{ product.sales }}</span>
    </div>
  </div>
  <div class="product-image-box">
    <img
      class="product-image"
      src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_client_products/notebooks/inspiron_notebooks/inspiron_3501/pdp/notebook_laptop_inspiron_bullseye_bk_intel_pdp_gallery.jpg?fmt=jpg&wid=570&hei=400"
      alt=""
    />
  </div>
  <div class="product-description-box">
    <span>{{ product.description }}</span>
  </div>
  <div class="product-price-box">
    <span>{{ product.price }}</span>
  </div>
  <div class="buttons-box">
    <button class="btn-editar">Editar</button>
    <button class="btn-excluir">Excluir</button>
  </div>  
</div>
