@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

footer {
  width: 100vw;
  font-size: 13px;
  margin-top: 50px;
  padding: 5px 0;
  background-color: white;
  color: #7a7979;
  box-shadow: rgb(167, 167, 167) 0 0 4px 0;
  height: 70px;
  font-size: 10px;
  font-family: "Righteous", cursive;
}

.footer{
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
/* .infoway-dados {
 margin-left: 20px;
} */

/* .avanade-github {
  margin: 1.45vw;
  padding: 10px;
} */

.avanade-github img.ico-footer {
  height: 20px;
}

.contato {
  font-size: 10px;
  display: flex;
  /* margin: 2.20vw; */
  font-size: 14px;
}

.infoway-dados p{
  margin: 0 !important;
}

.fale-conosco{
  display: flex;
  align-items: center;
}

.fale-conosco p,
.fale-conosco a,
.avanade-github a {
  padding: 5px;
  color: #7a7979;
} 

.fale-conosco a:hover {
  color: rgb(75, 107, 179) ;
}

@media (max-width: 468px){
  footer{
    height: 135px;
  }
  .footer{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}