
<footer id="footer">
    <div class="infoway-dados">
        <p><strong>Infoway Ltda.</strong>         <br>
        CNPJ 01.234.567/0001-89                   <br>
        Endereço: Rua Fictícia, nº 1, Bairro Tal  <br>
        São Paulo - SP  CEP: 01010-100            <br>
        Copyright &copy;</p>
    </div>
    <div class="avanade-github">
        <a href="https://www.avanade.com/pt-br" target="_blank"> <img src="../../../assets/img/logo-avanade.png" class="ico-footer" alt="logo da empresa Avanade"></a>
        <a href="https://github.com/jacque-sbraga/projeto-infoway-front" target="_blank"><img src="../../../assets/img/icone-github.png" class="ico-footer" alt="logo do GitHub"></a>
    </div>
    <div class="fale-conosco">
        <p>Fale conosco:</p>
        <a href="#"><mat-icon> phone</mat-icon></a>
        <a href="#"><mat-icon> email</mat-icon></a>
    </div>

</footer>
