<footer>
  <div class="footer">
    <div class="infoway-dados">
      <p>
        <strong>Infoway Ltda.</strong> <br />
        CNPJ 01.234.567/0001-89 <br />
        Copyright &copy;
      </p>
    </div>

    <div class="avanade-github">
        <a href="https://www.avanade.com/pt-br" target="_blank">
          <img
            src="../../../assets/img/logo-avanade.png"
            class="ico-footer"
            alt="logo da empresa Avanade"
        /></a>
        <a
          href="https://github.com/jacque-sbraga/projeto-infoway-front"
          target="_blank"
          ><img
            src="../../../assets/img/icone-github.png"
            class="ico-footer"
            alt="logo do GitHub"
        /></a>
      </div>
      
    <div class="fale-conosco">
      <span>Fale conosco:</span>
      <a href="#"><mat-icon> phone</mat-icon></a>
      <a href="#"><mat-icon> email</mat-icon></a>
    </div>
    
  </div>
</footer>
