@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.footer {
  width: 101%;
  background-color: white;
  color: #7a7979;
  padding: 10px;
  box-shadow: rgb(167, 167, 167) 0 0 4px 0;
  display: flex;
  justify-content: space-between;
  height: 7.5vw;
  max-height: 7.5vw;
  font-size: 10px;
  font-family: "Righteous", cursive;
}

.infoway-dados {
 margin-left: 20px;
}

.avanade-github {
  margin: 1.45vw;
  padding: 10px;
}

.avanade-github img.ico-footer {
  width: 40px;
}

.fale-conosco {
  display: flex;
  justify-content: space-around;
  margin: 2.20vw;
  font-size: 14px;
}

.fale-conosco p,
.fale-conosco a,
.avanade-github a {
  padding: 5px;
  color: #7a7979;
} 

.fale-conosco a:hover {
  color: rgb(75, 107, 179) ;
}
