<header class="header">
  <div class="flex-row">
    <div class="flex-row cursor" routerLink="home">
      <div class="box-logo">
        <div>
          <!-- <img src="/assets/content.png" alt="adm-logo" /> -->
          <span>{{ store.name }}</span>
        </div>
        <div class="pipe"></div>
      </div>
    </div>

    <div class="categories">
      <button mat-button [matMenuTriggerFor]="category">
        <mat-icon>menu</mat-icon>Categorias
      </button>

      <mat-menu #category="matMenu">
        <div *ngIf="categories.length">
          <button
            mat-menu-item
            *ngFor="let category of categories"
            (click)="navigateToProductList(category)"
          >
            <span>{{ category.category }}</span>
          </button>
        </div>
      </mat-menu>

      <!-- <div class="featured">
        <button
          mat-button
          *ngFor="let category of featuredCategories"
          (click)="navigateToProductList(category)"
        >
          {{ category.category }}
        </button>
      </div> -->
    </div>

    <div class="search-wrapper">
      <form autocomplete="off" novalidate [formGroup]="searchFormGroup">
        <input
          formControlName="searchInput"
          name="searchInput"
          type="text"
          placeholder="Buscar produto ou loja"
        />
        <i class="fas fa-search search"></i>
      </form>

      <div>
        <ul
          class="list-group"
          style="position: absolute"
          *ngIf="foundProducts.length > 0; else notFound"
        >
          <!-- O pipe async recupera diretamente os dados do Observable de produtos no momento em que eles forem produzidos -->
          <li class="list-group-item" *ngFor="let product of foundProducts">
            <!-- Ao clicar no link, dispara um evento para limpar o menu -->
            <a (click)="navigateToSelectedProduct(product.id)">
              {{ product.name | reducedName: 30 }}
            </a>
          </li>
        </ul>
      </div>
      <ng-template #notFound>{{ searchTextNotFound }}</ng-template>
    </div>
  </div>
  <div class="header-menu-items">
    <div class="box-icon" routerLink="cart">
      <img class="icon" src="/assets/img/shopping-cart (2).png" alt="">
    </div>

    <div class="box-icon" (click)="toggleLogin()">
      <img class="icon" src="/assets/user.png" alt="icon" />
    </div>

    <div class="box-icon" (click)="toggleMenu()">
      <img class="icon" src="/assets/menu.png" alt="icon" />
    </div>
  </div>  
</header>
<div class="space-under-header"></div>

<div
  [ngClass]="[
    'header-menu',
    openedLogin ? 'header-menu-opened' : 'header-menu-hidden'
  ]"
>
  <app-login></app-login>  
</div>

<div
  
  [ngClass]="[
    'header-menu',
    openedMenu ? 'header-menu-opened' : 'header-menu-hidden'
  ]"
>
<a routerLink="admin-dashboard">Admin Dashboard</a>
</div>
