<div class="container margin-top">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title dashboard-title">Meus Pedidos</h2>
          <hr>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
              <div class="tab-pane meus-pedidos">
                <div class="block">
                  <a class="block-link active" href="#">Produto: SmartTV</a>
                  <hr>
                  <a type="text">Valor: R$ 00,00</a>
                  <hr>
                  <a type="text">Valor do frete: R$ 00,00</a>
                  <hr>
                  <a type="text">Status: Confirmado</a>
                  <hr>
                  <a type="text">Codigo do pedido: 7548625</a>
                  <hr>
                  <a type="text">Data da compra: 01/05/2021</a>
                  <hr>
                  <a type="text">Pagamento: Aprovado</a>
                  <hr>
                </div>
                <hr>
              </div>
            </div>
          </div>

          <h3 class="card-title dashboard-title">Historico de Compra </h3>
          <hr>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2">
            <div class="tab-pane compra-efetua">
              <div class="block">
                <a class="block-link active" href="#">Produto: Smartphone</a>
                <hr>
                <a type="text">Valor: R$ 00,00</a>
                <hr>
                <a type="text">Valor do frete: R$ 00,00</a>
                <hr>
                <a type="text">Data da compra: 01/05/2021</a>
                <hr>
                <a type="text">Status: aguardando confirmação do pagamento</a>
                <hr>
                <a type="text">Codigo do pedido: 7548625</a>
                <hr>
              </div>
            </div>
          </div>
        </div>
        <!-- /.tab-pane -->
      </div>
    </div>
  </div>
</div>
