.slider {
  /* border: 1px solid; */
  align-items: flex-end;
  height: 550px;
  margin: auto;
  position: relative;
  width: 80vw;
  place-items: center;
  overflow: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-tracker {
  display: flex;
  align-items: center;
  padding: 15px;
  /* perspective: 100px; */
  margin: 10px;
  transition: 300ms;
  width: 100%;
  /* animation: scroll 120s linear infinite; */
  animation: scroll 20s linear infinite;
}

.slide:hover {
  cursor: pointer;
  animation-play-state: paused;
}
