.slider {
  /* border: 1px solid; */
  height: 450px;
  margin: auto;
  position: relative;
  width: 80vw;
  display: grid;
  place-items: center;
  /* overflow: hidden; */
}

.slider-track {
  /* border: 1px solid; */
  padding: 10px;
  display: flex;
  width: 80vw;
  animation: scroll 120s linear infinite;
}

.slider-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide {
  height: 400px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(250, 250, 250);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  perspective: 100px;
  transition: 300ms;
  margin: 10px;
}

.slide:hover {
  cursor: pointer;
  border-radius: 5px;
  /* transform: translate3d(0, -15px, 8px);
  box-shadow: 0 10px 25px 0 lightgray; */
}

.overflow {
  width: 80vw;
  /* border: 1px solid; */
  position: relative;
  overflow: hidden;
}

.category {
  font-size: 18px;
  font-weight: 500;
}
