.box-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button {
  width: 16vw;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(75, 107, 179);
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(8, 8, 153);
}

.box-login {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}
