<div class="container-user-register">
    <form class="user-register">
        <div class="nome-sobrenome">
        <div class="mb-3">      
          <label for="exampleInputEmail1" class="form-label">Nome</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Sobrenome</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
          <div class="cpf-telefone">
          <div class="mb-3">      
            <label for="exampleInputEmail1" class="form-label">CPF</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">      
            <label for="exampleInputEmail1" class="form-label">Telefone com DDD</label>
            <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>   
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">     
          </div>
          <div class="pass-repete">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Repita Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        </div>
        <div class="buttons-form-user">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <button type="submit" class="btn btn-primary">Voltar</button>
    </div>
      </form>
      <div class="image-form">
          <img src="../../../../assets/img/img-forms.png" alt="">
      </div>
    
    </div>
