.container-user-register {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 6%;
}
.user-register {
  box-shadow: 0 5px 15px 0px rgba(5, 1, 54, 0.4);
  border-radius: 10px;
  width: 70%;
  padding: 3%;
  justify-content: center;
  background: #dde9f1;
}
.user-register label {
  margin: 8px 0;
  display: inline-block;
  font-size: 13px;
}

form h1 {
  text-align: center;
  margin-bottom: 25px;
  color: rgb(75, 107, 179);
  font-size: 30px;
  letter-spacing: 1px;
}

form input {
  font-size: 12px;
}

.dados-pessoais,
.box2,
.pass,
.buttons-form-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.8vw;
}

.box1 {
  width: 50%;
}

.box-img img.img-form {
  width: 22vw;
  margin-right: 3vw;
  margin-top: 1.5vw;
}

#phone,
#cep,
#email,
#senha,
#complemento,
#cidade {
  width: 21vw;
}

#numero {
  width: 6vw;
}

#ddd,
#uf {
  width: 8vw;
}

#logradouro {
  width: 29vw;
}

.buttons-form-user {
  justify-content: space-around;
  padding: 3%;
}

.btn-primary {
  width: 120px;
  background-color: rgb(75, 107, 179);
  font-size: 14px;
}

.btn-primary:hover {
  background-color: rgb(8, 8, 153);
}

@media (max-width: 900px) {
  .box-img {
    display: none;
  }

  .box1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #nome,
  #sobrenome,
  #cpf {
    width: 50vw;
  }

  #email,
  #senha {
    width: 25vw;
  }

  #numero {
    width: 20vw;
  }
}

@media (max-width: 600px) {
  .btn-primary {
    width: 100px;
  }
}
