<div class="container-user-register">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="user-register">
    <div class="titulo">
      <h1>Cadastre-se</h1>
    </div>
    <div class="dados-pessoais">
      <div class="box1">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome *</label>
          <input
            type="text"
            name="nome"
            class="form-control"
            id="nome"
            [(ngModel)]="user.name"
            placeholder="Primeiro nome..."
            required
          />
        </div>
        <div class="mb-3">
          <label for="sobrenome" class="form-label">Sobrenome *</label>
          <input
            type="text"
            name="sobrenome"
            class="form-control"
            id="sobrenome"
            [(ngModel)]="user.surname"
            placeholder="Último nome..."
          />
        </div>
        <div class="mb-3">
          <label for="cpf" class="form-label">CPF *</label>
          <input
            type="text"
            class="form-control"
            name="cpf"
            id="cpf"
            [(ngModel)]="user.cpf"
            placeholder="Somente números..."
            maxlength="11"
          />
        </div>
      </div>

      <div class="box-img">
        <img
          src="../../../../assets/img/img-forms.png"
          class="img-form"
          alt="ilustração de uma mulher se cadastrando"
        />
      </div>
    </div>

    <div class="box2">
      <div class="ddd">
        <label for="ddd" class="form-label">DDD *</label>
        <input
          type="tel"
          class="form-control"
          id="ddd"
          name="ddd"
          [(ngModel)]="user.ddd"
          placeholder="Ex.: 11"
        />
      </div>

      <div class="phone">
        <label for="phone" class="form-label">Telefone *</label>
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          [(ngModel)]="user.phone"
          maxlength="9"
          placeholder="Somente números..."
        />
      </div>

      <div class="mb-3">
        <label for="cep" class="form-label">CEP *</label>
        <input
          type="text"
          class="form-control"
          id="cep"
          name="cep"
          [(ngModel)]="address.cep"
          name="cep"
          placeholder="Somente números..."
          maxlength="8"
          required
        />
      </div>
      <div class="mb-3">
        <label for="logradouro" class="form-label">Endereço *</label>
        <input
          type="text"
          class="form-control"
          id="logradouro"
          name="logradouro"
          [(ngModel)]="address.logradouro"
          name="logradouro"
          placeholder="Rua/Av tal..."
          required
        />
      </div>
      <div class="mb-3">
        <label for="numero" class="form-label">Nº *</label>
        <input
          type="text"
          class="form-control"
          id="numero"
          name="numero"
          [(ngModel)]="address.numero"
          placeholder="..."
          maxlength="6"
          required
        />
      </div>
      <div class="mb-3">
        <label for="bairro" class="form-label">Bairro *</label>
        <input
          type="text"
          class="form-control"
          id="bairro"
          [(ngModel)]="address.bairro"
          name="bairro"
          placeholder="..."
          required
        />
      </div>
      <div class="mb-3">
        <label for="complemento" class="form-label">Complemento</label>
        <input
          type="text"
          class="form-control"
          id="complemento"
          name="complemento"
          [(ngModel)]="address.complemento"
        />
      </div>
      <div class="mb-3">
        <label for="uf" class="form-label">UF *</label>
        <input
          type="text"
          class="form-control"
          id="uf"
          [(ngModel)]="address.estado"
          name="uf"
          placeholder="..."
          maxlength="2"
          required
        />
      </div>
      <div class="mb-3">
        <label for="cidade" class="form-label">Cidade *</label>
        <input
          type="text"
          class="form-control"
          id="cidade"
          [(ngModel)]="address.cidade"
          name="cidade"
          placeholder="..."
          required
        />
      </div>
    </div>
    <div class="pass">
      <div class="mb-3">
        <label for="email" class="form-label">E-mail *</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          [(ngModel)]="user.login"
          placeholder="Ex.: contato@gmail.com"
          required
        />
      </div>
      <div class="mb-3">
        <label for="senha" class="form-label">Senha *</label>
        <input
          type="password"
          class="form-control"
          id="senha"
          name="senha"
          [(ngModel)]="user.password"
          placeholder="Minimo de 6 caracteres"
          minlength="6"
          maxlength="50"
          required
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="avatar" class="form-label">Foto</label>
      <input type="file" #fileInput/>
      <button type="button" (click)="onUpload()">Upload</button>
    </div>
    <div class="buttons-form-user">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
      <button type="submit" class="btn btn-primary">Voltar</button>
    </div>
  </form>
</div>
