.container-home {
  margin-top: 100px;
  overflow: hidden;
  min-height: 100vh;
}

.banner {
  height: 500px;
  background-color: gray;
}

.category-display {
  font-size: 18px;
  font-weight: 500;
}
