<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- Componentes que não consegui montar módulo home: -->

  <!-- <app-header></app-header>
  <app-footer></app-footer>
  <app-slider></app-slider>
  <app-login></app-login>
  <app-home></app-home> -->



<!-- Módulo shopkeeper:

  <app-inventory-control></app-inventory-control>
  <app-category-register></app-category-register>
  <app-product-register></app-product-register>
  
-->

<!-- Módulo buyer:

  <app-user-register></app-user-register>
  <app-product-list></app-product-list>
  <app-product-details></app-product-details>
  <app-cart></app-cart>
  <app-checkout></app-checkout>

-->
