<div class="container-category-register">
  <div class="category">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="titulo">
        <h1>Cadastro de categoria</h1>
      </div>
      <div class="category-register">
        <div class="mb-3">
          <label for="category" class="form-label">Categoria *</label>
          <input
            type="text"
            name="category"
            class="form-control"
            id="category"
            [(ngModel)]="category.category"
            placeholder="Nome da categoria..."
            required
          />
        </div>
        <div class="form-check form-group">
          <input
            type="checkbox"
            id="featured"
            [(ngModel)]="category.featured"
            name="featured"
            class="form-check-input"
          />
          <label for="featured" class="form-check-label"
            >Categoria em destaque?</label
          >
        </div>
        <div class="buttons-category">
          <button type="submit" class="btn btn-primary">Cadastrar</button>
          <!-- <button type="submit" class="btn btn-primary">Excluir</button> -->
        </div>
      </div>
    </form>
  </div>
</div>
