.flex {
  display: flex;
  justify-content: space-between;
}
.field-size {
  margin: 10px;
  width: 120px;
}

.container-product-list {
  display: flex;
  margin: 15px 30px 15px 30px;
  min-height: 75vh;
}

section.filter-menu {
  display: flex;
  padding-top: 60px;
  flex-flow: column;
  padding-right: 20px;
  width: 20%;
}

section.filter-menu .categoriesCheckbox {
  display: flex;
  flex-direction: column;
}

section.items-display {
  width: 80%;
}

.btn-filter {
  margin-top: 10px;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort .message {
  margin: 0px 10px 30px 10px;
  color: rgb(168, 168, 168);
}

section.items-display .show-items {
  display: flex;
  flex-wrap: wrap;
}

.show-items {
  width: 100%;
}
