<main id="main">
  <section class="detail-main">
    <div class="container">
      <div class="product-image" *ngIf="product">
        <img src="{{product.image}}" alt="Imagem ilustrativa do produto">
      </div>
      <div class="info" *ngIf="product">
        <h2 class="title-h2">{{ product.name }}</h2>
        <span class="product-price">R$ {{ product.price }}</span>

        <div class="stock-info" >
          <div class="available" *ngIf="product.quantity === 0">
            <h3>Produto indisponível no momento</h3>
          </div>
          <div class="available" *ngIf="product.quantity === 1">
            <h3>Resta apenas 1 produto</h3>
          </div>
        </div>
        
        <div class="quantity-control" *ngIf="product.quantity >= 1">
          <span>Quantidade:</span>
          <div class="quantity">
            <i
              class="fas fa-minus minus blue-btn"
              (click)="decreaseQuantity()"
            ></i>
            <input
              type="number"
              [(ngModel)]="quantity"
              [disabled]="product.quantity === 0"
              min="1"
              name="quantity"
              id="quantity"
              (input)="validateQuantityInput($event.target)"
            />
            <i
              class="fas fa-plus plus blue-btn"
              (click)="sumQuantity()"
            ></i>
          </div>
          <div class="product-action">
            <a class="blue-btn" (click)="addToCart()">Adicionar ao carrinho</a>
            
            <a class="blue-btn">Comprar</a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="description">
      <div class="container">
        <h2 class="title-h2">Descrição</h2>
          <p>
            {{product.description}}
          </p>
      </div>
  </section>
</main>
