<div class="container page-margin">  
  <div class="row">
    <div class="col-md-12">
      <strong>Carrinho ({{ cartProducts.length }})</strong>
      <hr>
    </div>
  </div>
  
  <div class="cart-items">
    <section>
      <app-product-cart-item *ngFor="let cartItem of cartProducts;" 
        [product]="cartItem"        
        (deleteButtonPressed)="deleteButtonPressedHandler($event)"
        (quantityChanged)="quantityChangedHandler()"></app-product-cart-item>      
    </section>

    <section class="flex-column valores">
      <div class="flex-row">
        <span>Subtotal:</span>
        <span>{{ subtotal | currency:"BRL"}}</span>
      </div>      
      
      <div class="flex-row">
        <span>Frete:</span>
        <span>R$ 00,00</span>
      </div>
      <div class="flex-row">
        <span>Descontos:</span>        
        <span>R$ 00,00</span>        
      </div>
      <hr>
      <div class="flex-row" style="align-items: flex-end;">
        <h5 style="margin-bottom: 10px;">Total a pagar:</h5>
        <h3>{{ total | currency:"BRL"}}</h3>
      </div>
      <hr>
      
      <button type="button" class="btn btn-primary" (click)="ckeckout()" 
      [disabled]="!userId || cartProducts.length == 0 ? true : false">
      {{ userId != 0 ? 'Finalizar compra' : 'Faça o login para comprar' }}</button>      
    </section>
  </div>

  <hr>

  <!-- Columns are always 50% wide, on mobile and desktop -->
  <div class="row-button">
    <button type="button" class="btn btn-primary" (click)="clearCart()" [disabled]="cartProducts.length == 0 ? true : false">Limpar carrinho</button>
    <button type="button" class="btn btn-primary" (click)="ckeckout()" [disabled]="!userId || cartProducts.length == 0 ? true : false">{{ userId != 0 ? 'Finalizar compra' : 'Faça o login para comprar' }}</button>
    <button type="button" class="btn btn-primary" (click)="keepShopping()">Ver mais produtos</button>    
  </div>

  <hr>
</div>
