.page-margin {
  margin-top: 90px;
}

.cart-items {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 30px;
}

.valores {
  margin-top: 10px;
  height: min-content;
  padding: 20px;
  border: 1px solid rgb(172, 172, 172);
}

.flex-column {
  display: flex;
}

.flex-column span {
  margin: 0px 0px 30px 0px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.card button {
  margin-left: 15%;
}

.row-button button {
  margin-top: 2%;
  margin-left: 10%;
  border-radius: 5px;
}
